
/* Normalize*/
* {
    margin:0;
	padding:0;
	box-sizing:border-box;    
}
/*Colors & sizes*/
:root{
    --color-nav:rgba(3, 3, 3, 0.589); 
    --white: #F7F7FF;       
    --red:#DF2935;
    --red-opaque:#df29354b;
    --black:#050505;
    --dark-red:rgba(255, 0, 0, 0.301);
    --gray:#d9dee4;  
    --h1-title:2.8rem;
    --title-size: 2rem;
    --subtitle-size-text:1.6rem;
    --paragraph-size-text:1.3rem;
    --title-font-family:'Metal Mania';
    --subtitle-font-family:'Metal';
    --paragraphn-font-family:'Open Sans';
}
html,main{
    font-size: 10px;
    font-family: 'Metal','Metal Mania';
    color: var(--white);
    background: rgb(102,0,0);
    background: radial-gradient(circle, rgba(102,0,0,1) 0%, rgba(0,0,0,1) 88%); 
}



/*HEADER*/
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.637),rgba(0, 0, 0, 0.966)),url('/css/img/Backgroundconcert.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

#logo{
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 10vw;
    height: auto;
    justify-content: center;
    align-items: center;

}
.sticky-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    top:0;
    padding:.5rem;
    width: 100vw;
    flex-direction: row;
    background-color: var(--color-nav);    
    color: var(--white);    
    box-shadow: 0 2px 2px var(--red);

}
.main-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-content: center;
}
.main-nav li{
    list-style: none;
    text-decoration: none;
    margin-right: 1rem;
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    text-decoration: none;
    color:var(--red);
    font-size: 1.2rem;
    border-bottom: 2px solid var(--dark-red);
}

.header-box {
    display: flex;
    flex-direction: column;
    height: 93vh;
    width: inherit;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.4rem;
    padding: 1rem;
}
.header-box h1 {
    font-family: var(--title-font-family);
    font-size: var(--h1-title);
}
.header-box h2 {
    font-size: var(--subtitle-size-text);
    line-height: 1.8rem;
    padding-top: 1.2rem;
}
/*End header*/

/*Iron maiden section*/
.iron-maiden-section{
    width: 100%;    
    color: white;
    overflow: hidden;
}
.iron-maiden-section h2 {
    font-size: var(--title-size);
    text-align: center;
    font-family: 'Metal Mania';
    padding: 10px;

}
.container-items-iron {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    font-family: var(--paragraphn-font-family);
    padding: 1rem;
    margin: .5rem;
    font-size: 1.3rem;
}
.order-reverse{
    order: 1;
}
.round-img {
    border-radius: 50%;
}
.container-items-iron img {
    
    width: 90%;
}
/*End Iron Maiden section*/

/* Start Members Section*/

.members-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--white)
}
.members-section h2{
    font-size: var(--title-size);
    font-family: var(--title-font-family);
    padding: 1rem;
    margin: .5rem;
}
.container-members{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--white);
}

.sub-container-members{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.sub-container-members article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: var(--white);
    color: var(--black);
    padding: 1rem;
    margin-bottom: 1.5rem;
    margin: .5rem;
}
.sub-container-members img{
    width: 100%;
    height: auto;
}
.sub-container-members article div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top: 1px solid var(--black);
    background-color: var(--gray);
    margin-top: .5rem;
}
.sub-container-members h4{
    width: inherit;
    text-align: center;
    font-size: var(--subtitle-size-text);
    padding-top: .5rem;
    margin-top: .5rem 0;
    
}
.sub-container-members p{
    font-size: var(--subtitle-size-text);
    padding-bottom: .5rem;
    text-align: center;
    
}
/* End Members Section*/

/*Start Discography Section*/
.discography-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.discography-section h2 {
    font-size: var(--title-size);
    font-family: var(--title-font-family);
    padding: 1rem;
    margin: .5rem 0;
}
.container-albums {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-album{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    background-color: var(--dark-red);
    padding-bottom: 1.5rem;
    margin: .5rem;
    margin-bottom: 1.5rem;
    border: 2px solid var(--black);
    box-shadow: 2px var(--black);
}
.item-album h3{
    font-size: var(--subtitle-size-text);
    padding: 1rem 0 .5rem 0;
}
.year{
    font-size: var(--paragraph-size-text);
    font-family: var(--paragraphn-font-family);
    margin-bottom: 1rem;
}
.item-album img{
    width: 90%;
}
.item-album div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    padding-bottom:1rem;
    margin: .5rem;
    margin-bottom: .5rem;
    border-top: 2px solid var(--black);
    background-color: var(--red-opaque);
}
.item-album h4 {
     font-size: var(--subtitle-size-text);
     margin-top: .5rem;
 }

.item-album li{
    text-align: left;
    font-size: var(--paragraph-size-text);
    font-family: var(--paragraphn-font-family);
 }

 /*End Discography Section*/

 /* Start Concerts Section*/
.concerts-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    
}


.concerts-section h2 {
    text-align: center;
    font-size: var(--title-size);
    font-family: var(--title-font-family);
    padding: 1rem;
    margin:.5rem;
}
.container-concerts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item-concert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: center;
    border: 3px solid var(--white);
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    margin-top: .5rem;
    background-color: var(--gray);
    color: var(--black);

    
}

.item-concert video{
    width: 90%;
}
.item-concert div{
    margin-top: 1.5rem;
    border-top: 1px solid var(--black);
    padding: 1rem;
}
.item-concert h3 {
    margin-top:.5rem ;
    margin-bottom: .5rem;
    font-size: var(--subtitle-size-text);
    text-transform: uppercase;
}
.item-concert p{
    text-align: justify;
    font-family: var(--paragraphn-font-family);
    font-size: var(--paragraph-size-text);
}

/*End Concert Section*/

/*Start Suggestions Section*/
.suggestions-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;

}

.container-title-suggestions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.suggestions-section h2{
    font-size: var(--title-size);
    font-family: var(--title-font-family);
    text-align: center;
    padding: 1rem;
    margin: .5rem;
}

.suggestions-section p{
    font-size: var(--paragraph-size-text);
    font-family: var(--paragraphn-font-family);
    text-align: center;
    padding: 1rem;
    margin-bottom: .5rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: inherit;
    padding: .5rem;

}

.item-form-suggestions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--subtitle-size-text);
    text-align: center;
    width: 100%;
    padding: .5rem;
    margin-bottom: .5rem;
}

.button-send{
    font-size: var(--subtitle-size-text);
    font-family: var(--subtitle-font-family);
    color: var(--white);
    font-weight: bold;
    padding: .5rem;
    border: 3px solid var(--white);
    border-radius:20%;
    background-color: var(--red);

}
input#name,
textarea#message{
    width: 100%;
}

.button-send:hover,
.button-send:active{
    color: var(--red);
    border: 3px solid var(--red);
    background-color: var(--white);

}
/*End Suggestions Section*/

/*Footer*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 2px solid var(--dark-red);
    font-size: var(--paragraph-size-text);
}

.networks-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0rem 1rem;
}
.networks{
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.networks i{
    color: var(--white);
    padding:1rem
}
.nav a{
    text-decoration: none;
    color: var(--white);
    margin-right:.5rem ;
    font-size: 1rem;
}
.copy{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.copy i{
    margin-right:.5rem ;
}
.copy h4{
    margin-left: .5rem;
}

/*Media Quiery*/

@media screen and (max-width: 340px){
    .sticky-nav{
        display: flex;
        justify-content: center;
    }
    #logo{
        width: 20vw;
    }
}

@media screen and (min-width: 480px){
    html,main{
        font-size: 12px;
    }
}

@media screen and (min-width: 768px){
    html,main{
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px){
    html,main{
        font-size: 20px;
    }
    /*Section Iron Maiden*/
    .container-items-iron{
        flex-direction: row;
    
    }
    .container-items-iron img {
    
        width: 50%;
    }

    .container-items-iron p {
    
        padding: 1rem;
        margin-right: .5rem;
    }

    .order-reverse{
        order: -1;
    }

    /*Section Member Iron Maiden*/
    .members-section{
        flex-direction: row;
        justify-content: space-between;
    }
    .container-members{
        flex-direction: column;
    }
    .sub-container-members {
        flex-direction: row;
        padding: 1rem;
        
    }

    .sub-container-members article{
        width: 30%;
        align-self: stretch;
        height: inherit;
    }
    .sub-container-members article div{
        background-color: var(--white);
    }
    .sub-container-members P {
        font-size: 1.2rem;
            
    }

    /*Discography Section*/
    
    .container-albums{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        align-items: stretch;
    }
    .item-album {
        justify-content: stretch;
    }
    .item-album  div{
        background-color:var(--dar-red) ;
    
    }

    .item-album li{
        list-style: none;
    }
    
    /*Concerts Section*/
    .item-concert{
        flex-direction: row;
    }
    .item-concert video {
        width: 50%;
        padding-right:1rem ;
        border-right: 2px solid var(--black);
    }
    .item-concert div{
        border-top: none;
        width: 50%;       
        
    }

    /*Sugestions Section*/
    .item-form-suggestions{
        flex-direction: row;
        padding: 0 1rem;
    }
    .item-form-suggestions label{
        text-align: left;
        width: 20%;
        margin-right: 1rem;
    }
    form{
        width: 80%;
    }
    input#name{
        align-self: stretch;
        font-size: 1.5rem;
    }

    textarea#message{
        align-self: stretch;
        font-size: 1.5rem;
    }
    
    /*Footer*/
    .networks-nav{
        flex-direction: row;
        align-items:center;
        font-size: 1.5rem;
    }
    .nav {
        flex-direction: row;
    }
    .networks{
        flex-direction: row;
        width: 20%;
        justify-content: space-between;
    }
    
}